{%- if site.data.theme.icons -%}{% assign icons = site.data.theme.icons %}{% else %}
{% assign cb_icons = site.pages | where: "name","cb-icons.svg" | first %}
{% assign icons = cb_icons.icons %}{%- endif -%}
{% if site.data.theme.browse-child-objects == true %}
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
{% else %}
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' | where_exp: 'item','item.parentid == nil' -%}
{% endif %}
{%- assign fields = site.data.config-browse -%}
{%- assign card_fields = site.data.config-browse -%}
<style>

/* default hidden */
.card-subjects, .card-title {
  display: flex;
  gap: 0.25rem;
  background: transparent;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  opacity: 0;
  transform: translateY(6px);
  transition: opacity 140ms ease, transform 140ms ease;
  z-index: 20;
  justify-content: center;
}

.card-title {
    text-transform: uppercase;
}
</style>

<script>

/* add items */
var items = [
    {% for i in items %}
    { "title":{{ i.title | strip | jsonify }}, "format":{% if i.format %}{{ i.format | jsonify }}{% else %}""{% endif %}, {% for f in fields %}{% if i[f.field] %}{{ f.field | jsonify }}:{{ i[f.field] | strip | jsonify }},{% endif %}{% endfor %} {% if i.youtubeid %} "youtube": {{ i.youtubeid | jsonify }}, {% endif %}{% if  i.filename contains '/' %}"filename": "{{ i.filename }}" {% else %}"filename":"{{ '/objects/' | relative_url | append: i.filename }}"{% endif %}, "link": "{% if i.parentid %}{{ i.parentid }}#{{ i.objectid }}{% else %}{{ i.objectid }}{% endif %}", "id":{{ i.objectid | jsonify }} }{% unless forloop.last %},{% endunless %}{% endfor %}
];

/* function to create cards for each item */ 
function makeCard(obj) {
    // find item link
    var itemHref = "{{ '/item.html' | relative_url | append: '?id=' }}" + obj.link;
    // find images
    var imgSrc, thumbSrc;
    // add images or thumb for objects based on format
    if(obj.youtube) {
        imgSrc = 'https://img.youtube.com/vi/' + obj.youtube + '/hqdefault.jpg';
    } else if (obj.format.includes("image")) {
        imgSrc = obj.filename;
    } else if (obj.format.includes("audio")) {
        thumbSrc = '{{ "/assets/lib/icons/" | relative_url }}{{ icons.icon-audio }}.svg';
    } else if (obj.format.includes("video")) {
        thumbSrc = '{{ "/assets/lib/icons/" | relative_url }}{{ icons.icon-video }}.svg';  
    } else if (obj.format.includes("pdf")) {
        thumbSrc = '{{ "/assets/lib/icons/" | relative_url }}{{ icons.icon-pdf }}.svg';
    } else if (obj.format.includes("record")) {
        thumbSrc = '{{ "/assets/lib/icons/" | relative_url }}{{ icons.icon-record }}.svg';
    } else if (obj.format.includes("compound")) {
        thumbSrc = '{{ "/assets/lib/icons/" | relative_url }}{{ icons.icon-compound-object }}.svg';
    } else if (obj.format.includes("multiple")) {
        thumbSrc = '{{ "/assets/lib/icons/" | relative_url }}{{ icons.icon-multiple }}.svg';
    } else {
        thumbSrc = '{{ "/assets/lib/icons/" | relative_url }}{{ icons.icon-default }}.svg';
    }  
    // start card
    var card = ' ';
    // top image for photos
    if(imgSrc) {
            if (obj.subject) {
            var topics = obj.subject.split(';').map(function(t){ return t.trim(); }).filter(Boolean);
            if (topics.length > 0) {
                var subjectsHtml = '<div class="card-subjects">';
                for (var j = 0; j < topics.length; j++) {
                    var t = topics[j];
                    // use same relative_url pattern as other links in this file
                    subjectsHtml += '<a href="{{ \'/browse.html\' | relative_url }}#' + encodeURIComponent(t) + '">' + t + '</a>';
                }
                subjectsHtml += '</div>';
                // append subjects row to the card container; make sure container is positioned (see CSS)
            }
            else {
                var subjectsHtml = '';
            }
        }
        // open offcanvas and populate with the full item view for this object
        card += '<button class="btn" type="button" style="border:0px; width:20%; padding:0px;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" ondblclick="window.location=\'' + itemHref + '\'; return false;" onclick="openOffcanvas(\'' + obj.id + '\')"> <div class="card x"><div class="card y" style="background:transparent;"><img class="card-img-top lazyload" data-src="' + imgSrc + '" alt="Image of ' + obj.title + '">' + '<div class="card-title">' + obj.title + '</div>' + subjectsHtml + '</div></div></button>';
    } else {
        card += '<button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" onclick="openOffcanvas(\'' + obj.id + '\')"> <img class="card-img-top lazyload" data-src="' + thumbSrc + '" alt="Image of ' + obj.title + '"></button>';
    }
    // close divs
    card += '</div></div></div>';
    return card;
}

/* filter items function */
function filterItems(arr,q) {
    // show loading icon
    loadingIcon.classList.remove("d-none");
    // dont filter if no q 
    if (q=="") { 
        var filteredItems = arr; 
    } else {
        q = q.trim().toUpperCase(); 
        // js indexOf filter
        var filteredItems = [];
        for (var i = 0, len = arr.length; i < len; i++) {
            var val = "";
            for (var k in arr[i]) { 
                if (k != "img") { val += arr[i][k] + " "; }
            }
            if(val.toUpperCase().indexOf(q) != -1){
                filteredItems.push(arr[i]);
            }
        }
    }    
    // add stuff, make cards first in giant var, then add all at once to speed things up
    var cards = "";
    for (var i = 0, len = filteredItems.length; i < len; i++) {
        cards += makeCard(filteredItems[i]);
    }
    browseItemsDiv.innerHTML = cards;

    // finish
    if (q != "") {
        filterTextBox.focus();
    }
    loadingIcon.classList.add("d-none");
};

/* Fisher-Yates shuffle https://bost.ocks.org/mike/shuffle/ */
function shuffle(array) {
    var m = array.length, t, i;
    while (m) {
        i = Math.floor(Math.random() * m--);
        t = array[m];
        array[m] = array[i];
        array[i] = t;
    }
    return array;
}

/* init browse page */

/* randomize items once at page load */
shuffle(items);

/* set some elements */ 
var loadingIcon = document.querySelector("#loadingIcon");
var filterTextBox = document.querySelector('#filterTextBox');
var filterButton = document.querySelector("#filterButton");
var browseItemsDiv = document.querySelector("#browseItems");

/* filter if hash in initial URL */
var query = "";
if(window.location.hash) {
    var hashValue = decodeURIComponent(location.hash.substr(1));
    if (hashValue != 'maincontent') { 
        query = hashValue;
    } else {
        query = "";
    }
    filterTextBox.value = query;
    filterItems(items,query);
} else {
    query = "";
    filterItems(items,query);
}

/* filter form */
function submitFilter() {
    query = filterTextBox.value;
    window.location.hash = encodeURIComponent(query);
}
/* reset filters */ 
function resetFilter() {
    query = "";
    filterTextBox.value = query;
    window.location.hash = encodeURIComponent(query);
}

/* filter if hash changes */ 
window.addEventListener("hashchange", function() {
    // read hash
    var hashValue = decodeURIComponent(location.hash.substr(1));
    if (hashValue != 'maincontent') { 
        query = hashValue;
        filterTextBox.value = query;
        // filter
        filterItems(items,query);
    }
});

/* item array sorting function */
function sorting(json_object, key_to_sort_by) {
    function sortByKey(a, b) {
        var x = a[key_to_sort_by];
        var y = b[key_to_sort_by];
        if (typeof x === 'string' ) { x = x.toUpperCase(); }
        if (typeof y === 'string' ) { y = y.toUpperCase(); }
        return ((x==null) ? 1: (y==null) ? -1: (x < y) ? -1 : ((x > y) ? 1 : 0));
    }
    json_object.sort(sortByKey);
};

/* add sort function on click of sort options */
var sortFilter = document.querySelector("#sortFilter");
var sortOptions = document.querySelectorAll(".browse-sort-item");
sortOptions.forEach((button) => {
  button.addEventListener("click", (event) => {
    // get the sort field
    var field = button.dataset.filter;
    var display_name = button.textContent;
    // get current filter
    var query = filterTextBox.value;
    // switch active sort option
    sortOptions.forEach((option) => { option.classList.remove("active"); } );
    button.classList.add("active");
    sortFilter.innerHTML = display_name;
    // send to sort and filter
    if (field != 'random') {
        sorting(items, field);
        filterItems(items, query);
    }
    else {
        shuffle(items);
        filterItems(items, query);
    }
  });
}); 
</script>

<script>
/* include full item dataset and display logic so offcanvas matches item page */
{%- assign fields = site.data.config-metadata -%}
{%- assign stubs = site.data.config-nav | map: 'stub' | join: ';' -%}
{%- assign cb_items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
var cb_items = [ 
    {%- for item in cb_items -%}
    { "objectid": {{ item.objectid | jsonify }}, {% if item.parentid %}"parentid": {{ item.parentid | jsonify }}, {% endif %}{% if item.title %}{% unless fields contains 'title' %}"title": {{ item.title | jsonify }}, {% endunless %}{% endif %}{% for f in fields %}{% if item[f.field] %}{{ f.field | jsonify }}: {{ item[f.field] | jsonify }}, {% endif %}{% endfor %}{% if item.youtubeid %} "youtubeid": {{ item.youtubeid | jsonify }}, {% endif %}{% if item.vimeoid %} "vimeoid": {{ item.vimeoid | jsonify }}, {% endif %}"format": {{ item.format | jsonify }}, "filename": {% if item.filename %}"{{ item.filename }}"{% else %}""{% endif %} }{% unless forloop.last %}, {% endunless %}
    {% endfor %}
];

/* helper to find file link (same as item page) */
function findFileLink(record) {
    var fileLink = record.filename && record.filename.includes('/') ? record.filename : "{{ '/objects/' | relative_url }}" + record.filename;
    return fileLink;
}

/* openOffcanvas: find record and render into offcanvas using adapted display logic */
function openOffcanvas(objectid) {
    console.log('openOffcanvas called with', objectid);
    var record_index = cb_items.findIndex(item => item.objectid == objectid);
    console.log('openOffcanvas record_index', record_index);
    if (record_index === -1) return;
    var record = cb_items[record_index];
    var child_records = cb_items.filter(item => item.parentid == objectid);

    // reuse core parts of the item display logic (generate metadata, add buttons, addItem)
    function addItem(item, mainRecord) {
        var itemDisplay, itemDownload;
        if (item.format && item.format.includes('image')) {
            itemDisplay = '<a class="spotlight gallery-img" data-download="true" href="' + findFileLink(item) + '"><img class="img-fluid" src="' + findFileLink(item) + '" alt="' + item.title + '">';
            itemDisplay += item.format && item.format.includes('multiple') ? '</a>' : '<div><small class="text-dark">Click to view full screen</small></div></a>';
            itemDownload = '<a href="' + findFileLink(item) + '" target="_blank" rel="noopener" class="btn btn-outline-danger" title="Object download">Download ' + (item.format ? item.format.split("/").pop().toUpperCase() : '') + '</a>';
        } else if (item.format && item.format.includes('pdf')) {
            itemDisplay = '<div class="ratio ratio-4x3"><object title="PDF file of ' + item.title + '" data="' + findFileLink(item) + '" type="application/pdf" width="100%"><p>The PDF is not rendering in your browser. Please use the button below to download the PDF.</p></object></div>';
            itemDownload = '<a href="' + findFileLink(item) + '" target="_blank" rel="noopener" class="btn btn-outline-danger" title="Object download">Download PDF</a>';
        } else if (item.format && item.format.includes('audio')) {
            itemDisplay = '<audio controls class="w-100"><source src="' + findFileLink(item) + '">Your browser does not support the audio element. Please <a href="' + findFileLink(item) + '">download the audio file</a>.</audio>';
            itemDownload = '<a href="' + findFileLink(item) + '" target="_blank" rel="noopener" class="btn btn-outline-danger" title="Object download">Download ' + (item.format ? item.format.split("/").pop().toUpperCase() : '') + '</a>';
        } else if (item.youtubeid) {
            itemDisplay = '<div class="ratio ratio-16x9"><iframe title="video embed ' + item.title + '" src="https://www.youtube-nocookie.com/embed/' + item.youtubeid + '?enablejsapi=1&rel=0&modestbranding=1" allowfullscreen></iframe></div>';
            itemDownload = '<a href="https://youtu.be/' + item.youtubeid + '" target="_blank" rel="noopener" class="btn btn-outline-danger" title="Object download">View on YouTube</a>';
        } else if (item.vimeoid) {
            itemDisplay = '<div class="ratio ratio-16x9"><iframe title="video embed ' + item.title + '"src="https://player.vimeo.com/video/' + item.vimeoid + '" allowfullscreen></iframe></div>';
            itemDownload = '<a href="https://vimeo.com/' + item.vimeoid + '" target="_blank" rel="noopener" class="btn btn-outline-danger" title="Object download">View on Vimeo</a>';
        } else if (item.format && item.format.includes('video')) {
            itemDisplay = '<video controls class="w-100"><source src="' + findFileLink(item) + '">Your browser does not support the video tag. Please <a href="' + findFileLink(item) + '">download the video file</a>.</video>';
            itemDownload = '<a href="' + findFileLink(item) + '" target="_blank" rel="noopener" class="btn btn-outline-danger" title="Object download">Download ' + (item.format ? item.format.split("/").pop().toUpperCase() : '') + '</a>';
        } else if (item.format && item.format.includes('record')) {
            itemDisplay = item === mainRecord ? '' : '<img class="w-25" src="{{ "/assets/lib/icons/" | relative_url }}{{ icons.icon-record }}.svg" alt="No preview found">';
            itemDownload = findFileLink(item) != "" ? '<a href="' + findFileLink(item) + '" target="_blank" rel="noopener" class="btn btn-outline-danger" title="Object download">Link to Object</a>' : '';
        } else {
            itemDisplay = '<img class="w-50" src="{{ "/assets/lib/icons/" | relative_url }}{{ icons.icon-default }}.svg" alt="No preview found">';
            itemDownload = '<a href="' + findFileLink(item) + '" target="_blank" rel="noopener" class="btn btn-outline-danger" title="Object download">Download Object</a>';
        }
        return { itemDisplay: itemDisplay, itemDownload: itemDownload };
    }

    function generateMetadata(item) {
        var fields_html = '<dl>';
        {% for f in fields %}{% if f.browse_link == "true" %}
        if (item[{{ f.field | jsonify }}]) {
            var topics = item[{{ f.field | jsonify }}].split(';');
            var browseLinks = "";
            for (var i = 0, len = topics.length; i < len; i++) {
                if (topics[i] != "") {
                    browseLinks += '<a class="btn btn-link" href="{{ '/browse.html' | relative_url }}#' + encodeURIComponent(topics[i].trim()) + '">' + topics[i].trim() + '</a> ';
                }
            }
            fields_html += '<dt class="field">{{ f.display_name }}:</dt> <dd class="field-value">' + browseLinks + '</dd>';
        }
        {%- else -%}
        if (item[{{ f.field | jsonify }}]) { fields_html += '<dt class="field">{{ f.display_name }}:</dt> <dd class="field-value">{% if f.external_link == "true" %}<a href="' + item[{{ f.field | jsonify }}] + '" target="_blank" rel="noopener">' + item[{{ f.field | jsonify }}] + '</a>{% else %}' + item[{{ f.field | jsonify }}] + '{% endif %}</dd>'; }
        {% endif %}{% endfor %}
        fields_html += '</dl>';
        return fields_html;
    }

    // build content
    var itemImageHTML = '';
    var itemLinkHTML = '';
    var compoundDownload = '';

    if (child_records.length > 0) {
        // compound/multiple handling: reuse simplified compound rendering for offcanvas
        var compound_html = '';
        compoundDownload = '<div class="btn-group" role="group">';
        for (var i = 0; i < child_records.length; i++) {
            var res = addItem(child_records[i], record);
            compound_html += '<div class="mb-2">' + res.itemDisplay + '</div>';
            compoundDownload += res.itemDownload ? res.itemDownload : '';
        }
        compoundDownload += '</div>';
        itemImageHTML = compound_html;
        itemLinkHTML = compoundDownload;
    } else {
        var resMain = addItem(record, record);
        itemImageHTML = resMain.itemDisplay;
        itemLinkHTML = resMain.itemDownload;
    }

    // format text
    var itemFormat = '';
    if (child_records.length > 0) {
        itemFormat = record.format.replace("_", " ").toUpperCase() + ' (' + child_records.length + ' Items)';
    } else if (record.format && record.format.includes('pdf')) {
        itemFormat = 'PDF';
    } else if (record.format && record.format.includes('/')) {
        itemFormat = record.format.split('/')[0].toUpperCase();
    } else {
        itemFormat = record.format ? record.format.replace("_", " ").toUpperCase() : '';
    }

    document.getElementById("bc-title").innerHTML = record.title ? record.title : '';
    document.getElementById("item-format").innerHTML = itemFormat;
    document.getElementById("item-title").innerHTML = (record.format && record.format.includes('record')) ? (record.title ? record.title : '') : (record.title ? record.title + '<a href="#item-metadata" class="ms-5 btn btn-sm btn-outline-dark small">Item Info <svg class="bi icon-sprite" role="img" aria-label="Jump to Item Info"><use xlink:href="{{ "/assets/lib/cb-icons.svg" | relative_url }}#arrow-down"/></svg></a>' : '');

    // assemble content block
    var itemContent = '<div class="card mb-4 text-center">' + itemImageHTML + '<div class="card-body">' + itemLinkHTML + '</div></div>';
    document.getElementById("item-content").innerHTML = itemContent;
    document.getElementById("item-metadata").innerHTML = generateMetadata(record);

    // simple back button in offcanvas
    document.getElementById("browse-buttons").innerHTML = '<a class="btn btn-secondary" href="{{ '/browse.html' | relative_url }}">&laquo; Back to Collection Browse</a>';
}
</script>


 <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
     <div class="offcanvas-body"> 
        <div> 
            <div class="container py-3">
                <ul class="breadcrumb h6">
                    <li class="breadcrumb-item"><a class="text-dark" href="{{ '/' | relative_url }}">{{ site.title }}</a></li>
                    <li class="breadcrumb-item"><a class="text-dark" href="{{ '/browse.html' | relative_url }}">Browse</a></li>
                    <li id="bc-title" class="breadcrumb-item active text-dark" aria-current="page"></li>
                </ul>
            <div class="my-0 h5 small" id="item-format"></div>
            <h2 id="item-title" class="mb-3"></h2>

        <div class="row justify-content-center">

        <div class="col-12 col-md-10">
            <div id="item-content"></div>
        </div>
        <div class="col-12 col-md-10">
            <div id="item-metadata">
            </div>
        </div> 
    </div>

                <div id="browse-buttons" class="text-center">
                    <a class="btn btn-secondary" href="{{ '/browse.html' | relative_url }}">&laquo; Back to Collection Browse</a>
                </div>
                <div id="item-nav"></div>
            
            </div>
        </div> 
    </div> 
</div>

{% include float-boat.html %}

<div class="blob-wrap x">
  <div class="blob y"></div>
</div>

<div class="blob-wrap blob-2 x2">
  <div class="blob y"></div>
</div>